{% macro post_header(page) %}
<h2 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
<div class="post-header">
    {% if page.date %}
    <span class="post-date">{{ page.date | date(format="%B %d, %Y") }}</span>
    {% endif %}
    {% if page.taxonomies.tags %}
    <div class="post-tags">
        {% for tag in page.taxonomies.tags %}
        <span class="post-tag">#<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro post_header %}