{% extends "slim/templates/page.html" %}
{% import "custom_macros.html" as custom_macros %}

{% block content %}
<div class="post">
    {% block post %}
    {{ custom_macros::post_header(page=page) }}
    <div class="post-content">
        {{ page.content | safe }}
    </div>
    {% endblock post %}
    {% if page.extra.comments %}
    	<form method="POST" action="https://sleepy-staticman.herokuapp.com/v3/entry/github/nemui/nemui.github.io/master/comments">
	  <input name="options[redirect]" type="hidden" value="https://nemui.github.io">
	  <!-- e.g. "2016-01-02-this-is-a-post" -->
	  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
	  <label><input name="fields[name]" type="text">Name</label>
	  <label><input name="fields[email]" type="email">E-mail</label>
	  <label><textarea name="fields[message]"></textarea>Message</label>

	  <button type="submit">Go!</button>
	</form>
    {% endif %}
</div>
{% endblock content %}
